.Card {
  background-color: var(--main-card-color);
  margin: 8px;
  padding: 0 24px 24px 24px;
  border-radius: 8px;
  text-align: center;
}

.title {
  color: var(--light-text-color);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 24px;
}

.list {
  color: var(--dark-text-color);
  font-size: 16px;
  list-style-type: none;
}

.listItem {
  background-color: var(--secondary-card-color);
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
}

.button {
  background-color: var(--button-color);
  margin-top: 8px;
  border-radius: 4px;
}

.link {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--dark-text-color);
}

.description {
  height: 64px;
  overflow: hidden;
}